<p-card header="Profesor">
    <span class="p-float-label" style="margin-bottom: 3rem;">
        <input pInputText id="nombre" [(ngModel)]="data.nombre" />
        <label for="nombre">Nombre</label>
    </span>
    <span class="p-float-label" style="margin-bottom: 3rem;">
        <input pInputText id="apellidos" [(ngModel)]="data.apellidos" />
        <label for="apellidos">Apellidos</label>
    </span> 
    <span class="p-float-label" style="margin-bottom: 3rem;">
        <label for="genero">Genero</label>
        <p-selectButton id="genero" [options]="generoOptions" [(ngModel)]="data.genero" optionLabel="name" optionValue="value"></p-selectButton>
    </span>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-check" (click)="save()"></p-button>
        <p-button label="Cancelar" icon="pi pi-times" (click)="cerrar()" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
</p-card>